.BusRouteCard {
    background: rgba(253, 89, 1, 0.15);
    padding: 20px;
    // width: 100px;
    border-radius: 25px;
    p {
        color: white;
        font-weight: 200;
        font-size: 13px;
    }
    h4 {
        color: #fd5901;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .BusRouteCard {
        padding: 15px 20px;
        h4 {
            font-size: 18px;
        }
    }
}

@media (max-width: 426px) {
    .BusRouteCard {
        width: 100px;
        margin-top: 20px;
    }
}
