.BusRouteCard {
    position: relative; /* Add position relative to create a stacking context */
    background: rgba(253, 89, 1, 0.15);
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column; /* Stack the input and suggestions vertically */
    p {
      color: white;
      font-weight: 200;
      font-size: 13px;
    }
    input {
      color: #fd5901;
      font-size: 20px;
      width: 100%; /* Make the input take the full width */
      font-weight: 500;
      background: none;
      border: none;
      outline: none;
    }
  }
  
  /* Suggestions container */
  .suggestion-list {
    position: absolute; /* Position suggestions absolutely */
    top: 100%; /* Position below the input */
    left: 0; /* Align with the left edge of the input */
    width: 100%; /* Make it full width */
    background: white;
    border-radius: 0 0 25px 25px; /* Rounded corners only at the bottom */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
    max-height: 150px; /* Set a max height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    z-index: 1; /* Ensure suggestions appear above other elements */
    list-style-type: none; /* Remove bullets from list items */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  /* Style individual suggestion items */
  .suggestion-list li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  /* Change background color on hover */
  .suggestion-list li:hover {
    background-color: #f5f5f5;
  }
  
  @media (max-width: 768px) {
    .BusRouteCard {
      padding: 15px 20px;
      h4 {
        font-size: 18px;
      }
    }
  }
  
  @media (max-width: 426px) {
    .BusRouteCard {
      width: 100px;
      margin-top: 20px;
    }
  }
  