.Input {
    display: flex;
    flex-direction: column;
    align-items: start;
    #in {
        padding: 10px;
        outline: none;
        border: 1px solid #dadada;
        width: 300px;
    }
}
