.RoutesTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .locations {
        display: flex;
        align-items: center;
        gap: 10px;
        .toandfrom {
            display: flex;
            gap: 10px;
        }
        h1 {
            font-size: 30px;
            font-weight: 500;
        }
        h3 {
            font-size: 15px;
            color: #7c7c7c;
        }
    }

    .buttons {
        display: flex;
        .dayButton {
            padding: 5px 30px;
            font-weight: 700;
            border: none;
            color: #7c7c7c;
        }
        .highlighted {
            background-color: #fd5901;
            color: white;
        }
    }
}

@media (max-width: 768px) {
    .RoutesTitle {
        .locations {
            flex-direction: column;
            align-items: start;
            gap: 2px;
        }
    }
}

@media (max-width: 426px) {
    .RoutesTitle {
        flex-direction: column;
        .locations {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            h1 {
                font-size: 20px;
            }
            hr {
                display: none;
            }
        }
        .buttons {
            // margin-top: 20px;
            display: none;
        }
    }
}
