.under-maintenance-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;

  a:link {
    color: black;
    text-decoration: none;
  }

  section {
    border: 2px solid #fd5901;
    border-radius: 10px;
    width: 40vw;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    .button {
      margin: 20px 0;
    }

    @media (max-width: 420px) {
      width: 80vw;
    }
  }
}
