.BusBookingCardInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  min-width: 60px;

  .busName {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .subtitle {
    color: #a6a6a6;
    font-size: 12px;
  }
  .rating {
    background: white;
    gap: 0px;
    font-size: 12px;
    display: flex;
    align-items: stretch;
    // margin-top: -20px;
    padding: 0;

    .stars {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background: #00f06e;
      padding: 2px 5px;
      display: flex;
      align-items: center;
      width: 30px;
      justify-content: space-evenly;
      color: white;
    }
    .reviewCount {
      border: 1px solid #00f06e;
      padding: 3.5px 1px;
      min-width: 60px;
      font-weight: 300;
      font-size: 10px;
      padding-left: 5px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

@media (max-width: 768px) {
  .BusBookingCardInfo {
    .busName {
      flex-direction: column;
      .title {
        font-size: 13px;
      }
      .img {
        height: 13px;
      }
    }
    .subtitle {
      font-size: 11px;
    }
    .rating {
      .stars {
        width: 15px;
      }
      .reviewCount {
        width: 45px;
      }
    }
  }
}
