.Payment {
  hr {
    border: none;
    border-top: 2px dashed #a5a9ae;
  }
  
  
  .loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .ant-spin {
    font-size: 24px;
  }

  .ant-spin-dot {
    i {
      background-color: #1890ff;
    }
  }

  .navbar {
    padding: 0px 50px;
    height: 130px;

    .left {
      a {
        color: black;
      }
    }
  }

  .container {
    display: flex;
    padding: 30px;
    justify-content: space-between;

    .containerleft {
      width: 60%;

      h5 {
        font-size: 20px;
        color: #9a9898;
      }

      .RoutesTitle {
        .buttons {
          display: none;
        }
      }

      .reviewsCard {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        min-height: 150px;
        border: 1px solid #dadada;

        .reviewleft {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;

          .to {
            display: flex;
            gap: 30px;
          }

          .liveLocation {
            display: flex;
            gap: 10px;
          }
        }

        .reviewright {
          display: flex;
          align-items: end;
          gap: 10px;
          text-align: left;
          flex-direction: column;
          font-size: 15px;

          span {
            font-weight: 600;
          }

          span:nth-child(2) {
            font-size: 14px;
            font-weight: 200;
          }

          a {
            font-size: 12px;
          }
        }
      }

      .destinations {
        display: flex;

        gap: 20px;
        margin-top: 30px;
      }

      .details {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 22px;
          font-weight: 500;

          @media (max-width: 820px) {
            font-size: 16px;
          }
        }

        display: flex;
        flex-direction: column;

        .detailsContainer {
          display: flex;
          gap: 30px;
          flex-wrap: wrap;
          padding: 30px;
          border: 1px solid #dadada;

          input {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.5px;
          }

          .genderContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
              font-size: 22px;
              font-weight: 500;
              font-weight: bold !important;

            }

            select {
              width: 230px;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 8px;
              outline: none;
              transition: border-color 0.2s ease-in-out;
              font-size: 14px;

              &:focus {
                border-color: #007BFF;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
              }
            }
          }

        }
      }

      .tripType {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-top: 30px;
        border: 1px solid #dadada;

        hr {
          width: 100%;
        }

        .checks {
          margin-top: 20px;
          display: flex;
          align-items: center;
          gap: 30px;
          font-size: 18px;
          font-weight: 500;

          .checkbox-round {
            width: 1.3em;
            height: 1.3em;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #ddd;
            appearance: none;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
          }

          .checkbox-round:checked {
            background-color: #fd5901;
          }
        }
      }
    }

    .containerright {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 30%;
      gap: 20px;
      padding: 30px;

      .paymentCard {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        border: 1px solid #dadada;
        width: 100%;

        .prices {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 30px;

          hr {
            width: 100%;
            border: none;
            height: 1px;
            background-color: #dadada;
          }

          .price {
            display: flex;
            justify-content: space-between;

            p:nth-child(1) {
              color: #6d6d6d;
            }
          }
        }

        .promo {
          display: flex;
          flex-direction: column;
          border-radius: 25px;
          max-width: 300px;
          border: 1px solid #dadada;
          padding: 30px 30px;

          .heading {
            display: flex;
            gap: 20px;
          }

          hr {
            margin-bottom: 20px;
            width: 100%;
            border: none;
            height: 1px;
            background-color: #dadada;
          }

          input {
            padding: 10px 5px;
            outline: none;
            border-radius: 5px;
            border: 1px solid #dadada;
          }
        }
      }
    }
  }

  .popularBusRoutes {
    padding: 50px;

    .popularBusRoutesContainer {
      justify-content: center;
      display: flex;
      gap: 20px;
      border: 1px solid #d0d0d0;
      align-items: center;
      margin-top: 30px;
      padding: 30px 20px;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;

    .containerleft {
      width: 50%;
      margin-right: 40px;

      .reviewsCard {
        width: 400px;
      }

      .destinations {
        flex-wrap: wrap;
      }
    }

    .containerright {
      width: 50%;
      padding: 10px;

      .promo {
        width: 150px;
      }
    }
  }
}

@media (max-width: 752px) {
  .Payment {
    .container {
      flex-direction: column;
      justify-content: center;

      .containerleft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .reviewsCard {
          width: 350px;
        }
      }

      .containerright {
        width: 90%;
      }
    }
  }
}

.label-container {
  display: flex;
  align-items: center;
}

label.optional {
  color: red;
  margin-left: 5px;
  /* Add some spacing between "ID Type" and "*optional" */
}

.loading-modal {
  text-align: center;
}

.loading-message {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}