.offersCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 430px;
    align-items: center;
    padding: 25px 15px;
    box-shadow: 1px 1px 5px lightgray;
    .container {
        display: flex;
        gap: 20px;
        .right {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 5px;
            h1 {
                font-size: 18px;
            }
            p {
                font-size: 13px;
                color: #929292;
            }
            .offerCode {
                display: flex;
                // align-items: center;
                // gap: 10px;
                span,
                img {
                    border: 1px dashed #929292;
                    padding: 1px 10px;
                }
            }
        }
    }
    .valid {
        font-size: 13px;
        color: #929292;
        width: 100%;
        text-align: right;
        padding-right: 50px;
    }
}
