.landingPage {
  .left {
    color: white;
  }

  .right {
    color: white;
  }

  .hero {
    height: 75vh;
    width: 100%;

    .heroImg {
      position: absolute;
      top: 0px;
      z-index: -10;
      width: 100%;

      filter: brightness(30%);
      // height: 90vh;
      object-fit: cover;
    }

    .heroContainer {
      margin-left: 100px;
      display: flex;
      gap: 40px;
      flex-direction: column;

      .title {
        h1 {
          color: white;
          font-size: 40px;
          margin-top: 40px;
        }

        h1:nth-child(2) {
          margin-top: 2px;
          color: #fd5901;
        }
      }

      h2 {
        color: white;
        font-weight: 400;
        width: 40%;
      }

      .bus-search-container {
        display: flex;
        align-items: center;
        border: 2px solid #fd5901;
        background: rgba(0, 0, 0, 0.69);
        backdrop-filter: blur(10px);
        padding: 0px 30px;
        justify-content: space-evenly;
        border-radius: 25px;
        min-height: 200px;
        width: 90%;

        .reverse-image {
          transition: transform 0.5s ease;
          // filter: brightness(0.2);
        }
        .infoCard {
          background-color: rgba(253, 89, 1, 0.15);
          border-radius: 20px;
          padding: 20px 5px;
          width: 90%;
          min-height: 50px;
          margin: 5px 0;

          .infotitle {
            // color: #448fff;
            margin-bottom: 0;

            input {
              width: 90%;
              &::placeholder {
                color: rgba(255, 255, 255, 0.384);
                font-size: 0.8rem;
                letter-spacing: 1px;
                font-weight: 100;
              }
            }
          }
          input[type="search"]::-webkit-search-cancel-button {
            width: 1rem;
            backdrop-filter: blur(10px);
          }
        }

        .buttons {
          display: flex;
          flex-direction: column;
          gap: 20px;
          display: flex;

          .dayButton {
            padding: 5px 30px;
            border: none;
            font-weight: 700;
            border-radius: 5px;
            color: #7c7c7c;
          }

          .highlighted {
            background-color: #fd5901;
            color: white;
          }
        }

        .search-btn {
          min-width: 150px;
          margin: 15px;
        }
      }
    }
  }

  .popularBusTicket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .wrapper {
      display: flex;
      justify-content: space-evenly;
      width: 90%;

      .titleContainer {
        justify-content: center;
      }

      .infoCard {
        width: 200px;

        img {
          height: 60px;
          margin-bottom: 20px;
        }

        .infotitle {
          font-size: 20px;
        }

        .infosubtitle {
          font-size: 12px;

          font-weight: 200;
        }
      }
    }
  }

  .exclusiveOffers {
    padding: 50px;

    .offers {
      margin-top: 30px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .govBuses {
    padding: 50px;

    .govBusesContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      border: 1px solid #d0d0d0;
      align-items: center;
      margin-top: 30px;
      padding: 30px 20px;

      .infoCard {
        width: 200px;

        img {
          height: 150px;
        }

        .infosubtitle {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }

  .popularBusRoutes {
    padding: 50px;

    .popularBusRoutesContainer {
      justify-content: center;
      display: flex;
      gap: 20px;
      border: 1px solid #d0d0d0;
      align-items: center;
      margin-top: 30px;
      padding: 30px 20px;
      flex-wrap: wrap;
    }
  }

  .whyChooseYesGoBus {
    background: #f6f6f6;
    padding: 50px;

    .titleContainer {
      justify-content: center;
    }

    .whyChooseYesGoBusContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: start;
      margin-top: 30px;

      .infoCard {
        width: 120px;

        img {
          box-shadow: 1px 1px 5px lightgray;
          height: 50px;
          padding: 30px;
          background-color: white;
        }

        .infotitle {
          font-size: 25px;
        }

        .infosubtitle {
          font-size: 11px;
          font-weight: 300;
        }
      }
    }
  }

  .customerReviews {
    padding: 50px;

    .customerReviewsContainer {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }

  .about {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .aboveFooter {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    background: #ebebeb;
    padding: 50px;

    .reachUs {
      display: flex;
      flex-direction: column;
      gap: 5px;

      span {
        font-weight: 600;
        font-size: 18px;
      }

      p {
        font-weight: 300;
        font-size: 12px;
      }

      a {
        color: #fd5901;
      }
    }
  }
}

@media (max-width: 1440px) {
  .landingPage {
    .hero {
      height: 90vh;
    }
    .heroImg {
      height: 90vh;
    }
  }
}

@media (max-width: 1024px) {
  .landingPage {
    .aboveFooter {
      flex-direction: column;
      align-items: center;
      gap: 50px;

      hr {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .landingPage {
    .hero {
      .heroImg {
        height: 500px;
      }
    }

    .popularBusTicket {
      .wrapper {
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 820px) {
  .landingPage {
    .hero {
      height: auto;
      margin-bottom: 50px;

      .heroContainer {
        margin-left: 0px;
        text-align: center;
        align-items: center;

        .bus-search-container {
          display: flex;
          margin-top: 20px;
          padding: 30px 10px;
          .infoCard {
            h1 {
              input {
                width: 100%;
                min-width: 150px;
                font-size: 0.8rem;
              }
            }
            .infosubtitle {
              font-size: 0.8rem;
            }
          }
          .buttons {
            .dayButton {
              padding: 5px 10px;
            }

            .highlighted {
              background-color: #fd5901;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .landingPage {
    .hero {
      // height: 700px;
      .heroImg {
        height: 500px;
      }

      .heroContainer {
        .title {
          h1 {
            font-size: 25px;
          }
        }

        h2 {
          font-size: 20px;
          width: 100%;
        }

        .bus-search-container {
          display: flex;
          flex-wrap: wrap;
          margin-top: 20px;
          padding: 30px 10px;
          .infoCard:nth-child(2n + 1) {
            width: 40%;
          }
          .infoCard:nth-child(4) {
            width: 50%;
          }
          .infoCard {
            h1 {
              input {
                font-size: 0.75rem;
              }
            }
            .infosubtitle {
              font-size: 0.7rem;
            }
          }
          .buttons {
            display: none;
            .dayButton {
              padding: 5px 10px;
            }

            .highlighted {
              background-color: #fd5901;
              color: white;
            }
          }
          button {
            width: 35%;
          }
        }
      }
    }

    .popularBusTicket,
    .exclusiveOffers,
    .govBuses,
    .popularBusRoutes,
    .whyChooseYesGoBus,
    .customerReviews {
      .wrapper {
        width: 100%;
      }
    }
  }
}
