.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-evenly;
  gap: 20px;
  width: 300px;
  //   padding: 20px 40px;
  padding: 40px;
  border-radius: 25px;
  min-height: 280px;
  background-color: rgba(0, 0, 0, 0.86);
  color: white;
  .firstContainer {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    img {
      height: 60px;
    }
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 15px;
    }
  }
  button {
    margin-top: auto;
    width: 130px;
    padding: 20px 10px;
    border-radius: 50px;
  }
}

@media (max-width: 426px) {
  .card {
    width: 200px;
    .firstContainer {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
      img {
        height: 50px;
      }
    }
    button {
      width: 130px;
      padding: 10px 10px;
      border-radius: 50px;
    }
  }
}
