.button {
    font-size: 15px;
    padding: 12px 19px;
    background: #fd5901;
    border: none;
    color: white;
    border-radius: 15px;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px 1px #fd5901;
    }
}

@media (max-width: 426px) {
    .button {
        padding: 10px 15px;
        font-size: 12px;
    }
}
