.SeatLegend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .subtitle {
        font-size: 12px;
        color: #dadada;
    }
    img {
        height: 20px;
        width: 40px;
    }
    .singleseat {
        height: 40px;
        width: 70px;
    }
}

@media (max-width: 768px) {
    .SeatLegend {
        span {
            font-size: 12px;
        }
        .subtitle {
            font-size: 9px;
        }
    }
}
