.ColumnNames {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .tableTitles {
    display: flex;
    gap: 350px;
    background: rgba(0, 137, 240, 0.11);
    padding: 30px 10px;
    div {
      display: flex;
      gap: 45px;
    }
  }
}

@media (max-width: 1200px) {
  .ColumnNames {
    .tableTitles {
      gap: 250px;
      div {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 820px) {
  .ColumnNames {
    .tableTitles {
      gap: 200px;
      div {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 426px) {
  .ColumnNames {
    display: none;
  }
}
