.bus-ticket {
  position: relative;
  font-weight: 600;
}
.bus-ticket-parent {
  position: absolute;
  top: 49px;
  left: 235px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  font-size: 18px;
}
.whatsapp-image-2023-07-01-at-1-icon {
  position: absolute;
  top: 34px;
  left: 72px;
  width: 113px;
  height: 48px;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  height: 1.05%;
  width: 0.5%;
  top: 7.34%;
  right: 95.32%;
  bottom: 91.62%;
  left: 4.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.back,
.complete-kyc {
  position: absolute;
  top: 117px;
  left: 96px;
  font-size: 18px;
}
.complete-kyc {
  top: 160px;
  left: 70px;
  font-size: 36px;
  font-weight: 500;
}
.banking-details,
.personal-details {
  position: absolute;
  top: 231px;
  left: 73px;
  color: rgba(253, 89, 1, 0.83);
  text-align: center;
}
.banking-details {
  top: 1021px;
}
.kyc-child,
.kyc-inner,
.kyc-item {
  position: absolute;
  top: 273px;
  left: 70px;
  background-color: #fff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #f7f7f7;
  box-sizing: border-box;
  width: 1588px;
  height: 349px;
}
.kyc-inner,
.kyc-item {
  top: 1063px;
  height: 384px;
}
.kyc-inner {
  top: 713px;
  height: 268px;
}
.choose-document-type,
.enter-account-details,
.enter-your-details {
  position: absolute;
  top: 294px;
  left: 97px;
  font-weight: 500;
  text-align: center;
}
.choose-document-type,
.enter-account-details {
  top: 1084px;
  left: 83px;
}
.choose-document-type {
  top: 734px;
  left: 97px;
}
.kyc-child1,
.kyc-child2,
.line-div {
  position: absolute;
  top: 339.5px;
  left: 69.5px;
  border-top: 1px solid #b6b6b6;
  box-sizing: border-box;
  width: 1589px;
  height: 1px;
}
.kyc-child1,
.kyc-child2 {
  top: 1129.5px;
}
.kyc-child2 {
  top: 779.5px;
}
.first-name {
  position: absolute;
  top: 0;
  left: 0;
}
.first-name-parent,
.group-child {
  position: absolute;
  left: 0;
  width: 390px;
}
.group-child {
  top: 20px;
  border-radius: 10px;
  background-color: rgba(253, 253, 253, 0.08);
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  height: 57px;
}
.first-name-parent {
  top: 0;
  height: 77px;
}
.group-wrapper {
  position: relative;
  width: 390px;
  height: 77px;
}
.frame-div,
.group-parent {
  position: absolute;
  top: 364px;
  left: 97px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  font-size: 12px;
  color: #666;
}
.frame-div {
  top: 495px;
}
.id-proof {
  position: absolute;
  top: 670px;
  left: 73px;
  color: #fd5901;
  text-align: center;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 63.75px;
  background-color: rgba(253, 89, 1, 0.26);
  width: 181.05px;
  height: 51px;
}
.aadhar-card {
  position: absolute;
  top: 14.02px;
  left: 39.53px;
  font-weight: 500;
}
.group-child3,
.rectangle-parent {
  position: relative;
  width: 181.05px;
  height: 51px;
}
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 63.75px;
  background-color: rgba(253, 89, 1, 0.84);
}
.pan-card {
  position: absolute;
  top: 14.02px;
  left: 53.55px;
  font-weight: 500;
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 63.75px;
  background-color: rgba(253, 89, 1, 0.26);
  width: 233.32px;
  height: 51px;
}
.driving-license {
  position: absolute;
  top: 14.02px;
  left: 58.65px;
  font-weight: 500;
}
.rectangle-container {
  position: relative;
  width: 233.32px;
  height: 51px;
}
.group-parent1 {
  position: absolute;
  top: 814px;
  left: 97px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  font-size: 15.3px;
}
.upload-id-proof {
  position: absolute;
  top: 893px;
  left: 97px;
  font-weight: 500;
  text-align: center;
}
.submit-the-pan {
  position: absolute;
  top: 931px;
  left: 96px;
  font-size: 12px;
  font-weight: 500;
  color: #818181;
  display: inline-block;
  width: 522px;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  width: 183px;
  height: 132px;
}
.iconlylight-outlinecamera {
  position: absolute;
  height: 27%;
  width: 21.86%;
  top: 23.48%;
  right: 39.34%;
  bottom: 49.52%;
  left: 38.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.front {
  position: absolute;
  top: 80px;
  left: calc(50% - 26.5px);
  font-weight: 500;
}
.group-div,
.kyc-child3 {
  position: absolute;
  top: 808px;
  left: 1056px;
  width: 183px;
  height: 132px;
}
.kyc-child3 {
  top: 779.5px;
  left: 805.5px;
  border-right: 1px solid #bcbcbc;
  box-sizing: border-box;
  width: 1px;
  height: 202px;
}
.back1 {
  position: absolute;
  top: 80px;
  left: calc(50% - 25.5px);
  font-weight: 500;
}
.rectangle-parent1 {
  position: absolute;
  top: 808px;
  left: 1274px;
  width: 183px;
  height: 132px;
}
.account-type-wrapper,
.group-child7 {
  position: absolute;
  top: 1160px;
  left: 83px;
  width: 137px;
  height: 30px;
}
.group-child7 {
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: rgba(253, 89, 1, 0.84);
  width: 121px;
  height: 40px;
}
.savings {
  position: absolute;
  top: 11px;
  left: 36px;
  font-weight: 500;
}
.group-child8,
.rectangle-parent2 {
  position: absolute;
  width: 121px;
  height: 40px;
}
.rectangle-parent2 {
  top: 1155px;
  left: 236px;
  font-size: 12px;
}
.group-child8 {
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: #ffd4bd;
}
.current {
  position: absolute;
  top: 11px;
  left: 37px;
  font-weight: 500;
}
.rectangle-parent3 {
  position: absolute;
  top: 1155px;
  left: 374px;
  width: 121px;
  height: 40px;
  font-size: 12px;
}
.group-parent2,
.ifsc-code-parent {
  position: absolute;
  left: 83px;
  font-size: 12px;
  color: #666;
}
.group-parent2 {
  top: 1232px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
}
.ifsc-code-parent {
  top: 1334px;
  width: 390px;
  height: 77px;
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fd5901;
  width: 226px;
  height: 50px;
}
.next {
  position: absolute;
  top: 11px;
  left: 93px;
  font-weight: 500;
}
.rectangle-parent4 {
  position: absolute;
  top: 1529px;
  left: 1432px;
  width: 226px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.kyc {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1653px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Poppins;
}
