.link {
  text-decoration: none;
  color: inherit;
}

.popularRoutes {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 40px;
  width: 200px;
  .left {
    img {
      height: 30px;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1 {
      cursor: pointer;
      font-size: 17px;
      font-weight: 600;
    }
    p {
      cursor: pointer;
      font-size: 13px;
      font-weight: 300;
    }
  }
}
