.busBooking {
  .navbar {
    padding: 0px 50px;
    height: 130px;

    .left {
      a {
        color: black;
      }
    }
  }

  .container {
    padding: 60px;
    display: flex;

    .left {
      width: 18%;
    }

    .right {
      width: 80%;

      .mobile-filter {
        display: none;
        .filter-wrapper {
          display: none;
          overflow: hidden;
          max-height: 0;
          transition: max-height 200ms ease;

          &.active {
            display: block;
            max-height: 500px;
          }
        }

        .filter-buttons {
          .filter {
            background-color: rgb(250, 250, 250);
            border: 2px solid rgb(202, 202, 202);
            border-radius: 8px;
            padding: 10px 20px;
            cursor: pointer;
            color: rgb(31, 31, 31);
            display: flex;
            gap: 5px;
            align-items: center;

            img {
              width: 15px;
              object-fit: contain;
            }
          }
        }
      }

      .dates {
        display: flex;
        gap: 10px;
        padding: 30px;
        .date {
          border: 1px solid #d0d0d0;
          padding: 20px 20px;
          min-width: 100px;
          border-radius: 50%;

          &:hover {
            cursor: pointer;
            background-color: rgb(222, 219, 219);
          }
        }
      }

      & > .dates {
        @media (max-width: 420px) {
          display: none;
        }
      }

      .exclusiveOffers {
        padding: 50px;
        overflow-x: scroll;

        h1 {
          font-size: 18px;
        }

        .offers {
          margin-top: 30px;
          display: flex;
          // justify-content: space-evenly;
          flex-wrap: wrap;
          gap: 10px;

          .offersCard {
            min-width: 300px;
            max-width: 300px;
            min-height: 150px;
            max-height: 150px;
            padding: 10px;
            gap: 20px;

            .container {
              padding: 0px 5px;

              .left {
                width: auto;

                img {
                  width: 80px;
                  height: 80px;
                }
              }

              .right {
                width: auto;
              }
            }
          }
        }
      }

      .wrapper {
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .bus-card-container {
          margin-bottom: -30px;
        }

        @media (max-width: 768px) {
          .bus-card-container {
            margin-bottom: -30px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .busBooking {
    .container {
      padding: 10px;

      .left {
        display: none;
      }

      .right {
        width: 100%;

        .mobile-filter {
          display: block;
          .leftFilter {
            .filters {
              display: flex;
              flex-direction: column;
              .priceRange {
                flex-grow: 1;
              }
            }
          }
        }

        .dates {
          overflow-x: scroll;
        }

        .exclusiveOffers {
          overflow-x: scroll;

          .offers {
            flex-wrap: nowrap;
            // justify-content: space-around;
          }
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .busBooking {
    .container {
      background-color: rgb(241, 241, 241);
      margin-bottom: 40px;
      .right {
        .wrapper {
          padding: 0px;
        }
      }
    }
  }
}
